<!doctype html>
<html>

<head>
  <title>
    <%= json.project.title %>
  </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <!-- Safari, you're the worst -->
  <meta name='format-detection' content='telephone=no'>
  <link rel="stylesheet" type="text/css" href="style.css">
  <%= t.include("partials/_head.html") %>
</head>

<body>

<responsive-child class="map-container">
  <div class="outmost">
    <div clas="map-area"
      <div class="area2">
        <section class="chatter">
            <h1>King County homicides in 2018</h1>
            <p>XXX of 80 homicide victims killed in King County last year died from gunshot wounds. Additionally, six people died in officer-involved shootings.</p>
        </section>
            <div class="buttons">
              <div class="goto back disabled"><i class="fa fa-chevron-left"></i> Previous</div>
              <div class="goto next">Next <i class="fa fa-chevron-right"></i></div>
            </div>
            <div class="pop-container">
                <div class="introtext">Select a point on the map for information about each homicide, or select the "Next" button to see them in chronological order.</div>
            </div>
    </div>
      <div class="area1">
        <div class="aspect-ratio-outer">
          <div class="aspect-ratio-inner">
            <leaflet-map zoom=10>
              <tile-layer layer="cartoPositron"></tile-layer>
            </leaflet-map>
          </div>
            <aside class="legend">
                <!-- <h1>Map legend</h1> -->
                <ul class="scale">
                  <li>
                    <span class="block" style="background-color: #006849"></span> Homicide location</li>
                  <li>
                    <span class="block" style="background-color: #eaa238"></span> Officer-involved shooting</li>
                </ul>
            </aside>
          </div>
        </div>
      </div>
      <div class="source">Sources: King County law enforcement agencies, King County Medical Examiner’s Office
        <span class="credit">Reporting: Sara Jean Green / THE SEATTLE TIMES <br> Map: Emily M. Eng / THE SEATTLE TIMES</div>
              <div class="clear"></div>
        <div class="clear"></div>
  </div>
</responsive-child>

  <script src="app.js"></script>
  <% /*= t.include("partials/_foot.html"); */ %>
    <%= t.include("partials/_workHere.html") %>
</body>

</html>
